@media (max-width: 1000px) {
    .navbar{
      background-color: var(--color-text);
    }
    .nav-list {
        width: 70%;
      }
      .nav-list a {
        font-size: 1rem;
      }
}

@media (max-width: 360px) {
    .navbar{
    background-color: var(--color-text);
    }
    .nav-list {
    width: 75%;
    }
    .nav-list a {
    font-size: 0.9rem;
    }
}

@media (max-width: 666px) {
    .personal{
        display: block;
    }
}