@media (max-width: 1000px) {
    .nav-list {
        width: 70%;
      }
      .nav-list a {
        font-size: 1rem;
      }
      .hobi .contents{
          display: flex;
          flex-direction: column;
          justify-content: center;
      }
}

@media (max-width: 1000px){
    body{
        overflow: auto;
    }
    
}

@media (max-width: 450px) {
    .nav-list {
    width: 90%;
    }
    .nav-list a {
    font-size: 1rem;
    }
}
