@media (max-width: 1000px) {
    .nav-list {
        width: 70%;
      }
      .nav-list a {
        font-size: 1rem;
      }
}

@media (max-width: 450px) {
    .nav-list {
    width: 90%;
    }
    .nav-list a {
    font-size: 1rem;
    }
}

@media (max-width: 666px) {
    .contents{
        display: block;
    }
}