body {
    height: 100%;
    font-family: "Quicksand", sans-serif;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

@keyframes gradient-reserve {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 50% 100%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
/* Navbar */
.navbar {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .nav-list {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(255, 255, 255);
    list-style: none;
    
  }
  
  .nav-link a {
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    transition: 0.3s ease-in;
    padding: 0.3rem 0;
    text-decoration: none;
    font-size: 14pt;
  }
  .nav-link a:hover {
    text-decoration: line-through;
  }

  /* Home */
  .container {
    display: flex;
    width: 100%;
    height: 85%;
    justify-content: center;
    align-items: center;
  }
  
  .home {
    width: 100%;
    display: flex;
    
    
  }
  .circular { 
    display: flex;
    justify-content: center;
    width: 250px; 
    height: 250px; 
    overflow: hidden; 
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ; 
    margin: 10% auto;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    }

    .circular img { 
    width: 250px; 
    height: 100%;  
    }

  .content{
    text-align: center;
        
  }

  .content h1 {
    font-size: 2rem;
  }
  .content p {
    font-style: italic;
    margin: 0.7rem 0 3rem 0;
    font-size: 1rem;
  }
  .contents{
    display: flex;
    justify-content:center;
    flex-direction: column;
    margin: 1rem auto;
    background-size: 400% 400%;
    align-items: center;
  }

  /* Personal */
  

  .contents .edukasi{
    margin-bottom: 4rem;
  }
/* Hobi */
.hobi .contents{
  flex-direction: column;
  margin: auto 20%;
  border-radius: 0%;
  
}
.hobi .contents p{
  width: 18rem;
}
.hobi1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hobi1 img{
  width: 18rem;
  height: 18rem;
}

.hobi1 video{
  width: 18rem;
  height: 18rem;
}
.hobi2 img{
  width: 18rem;
  height: 18rem;
}

.penjelasan{
  text-align: center;
}
/* Teman */
.teman .contents{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teman img{
  width: 40rem;
  height: 26.5rem;
}

.teman p{
  width: 40rem;
}

.teman form{
  width: 40rem;
}

.teman form input{
  width: 40rem;
  margin-bottom: 1rem;
  
}

/* Keluarga */

.keluarga .contents{
  align-items: center;
}

.keluarga img{
  width: 30rem;
  height: 23rem;
}

.keluarga p{
  width: 40rem;
}

  .social {
    margin: 0;
    padding: 0;
    margin-top: 7rem;
    height: 5%;
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
  }
  .social li {
    margin: 0 1rem;
    list-style: none;
  }
  .social a {
    color: #fff;
    text-decoration: none;
    font-size: 24pt;
  }
  .social a:hover {
    border-bottom: 1px solid #fff;
  }